@mixin menu
    display: flex
    flex-direction: column

    border: 5px solid $beige
    background: $darkbeige
    position: absolute
    top: 95px
    width: 90%
    left: 5%

    a
        width: 100% !important
        padding: 30px 0

        &:hover
            background: $beige

@mixin menu_button
    width: 300px
    border-radius: 5px
    border: 5px solid $beige
    background: $darkbeige
    color: $violet
    text-transform: uppercase
    transition: .1s
    cursor: pointer

    &:hover
        background: $lightviolet
        color: $beige
        border: 5px solid $lightviolet
        transition: .3s

header
    height: 70px
    border-bottom: $beige solid 5px
    display: flex
    align-items: center

    a
        padding: 0 30px
        color: $violet
        text-transform: uppercase
        text-decoration: unset
        font-weight: bolder
        font-size: 1.5em

        &:hover
            color: $pink
            img
                filter: contrast(120%)

    img
        height: 50px
        width: 50px

    &.xl
        justify-content: space-around

    &.lg
        justify-content: space-around
        height: 100px
        position: relative

        .menu_wrapper
            position: relative
            .menu
                height: unset
                width: 300px

                padding: 0
                right: 0
                top: 60px
                background: $darkbeige
                border: 5px solid $beige

            a
                text-align: center
                color: $lightviolet

                &:hover
                    background: $beige
                    color: $violet !important

            button
                @include menu_button

    &.md
        display: flex
        justify-content: space-around
        position: relative
        height: 100px

        a, button
            width: 45%
            text-align: center

        button
            width: 45%
            @include  menu_button
            @include  df-center

        div
            @include menu

            a
                padding: 30px 0

    &.sm, &.xs
        justify-content: space-around
        position: relative

        a, button
            padding: 0
            background: unset
            height: 50px
            width: 50px

        button
            border-radius: 5px
            border: 5px solid $beige
            &:hover
                border: 5px solid $lightviolet

// xs, sm
.menu
    position: absolute
    display: flex
    flex-direction: column

    height: calc(100% - 70px)
    top: 70px
    width: 100%
    right: 0
    transition: .3s
    padding: 50px 0
    background: $pink

    &.hidden
        right: -100%
    a
        height: 100px
        color: $beige
        text-decoration: unset
        @include  df-center
        font-weight: bolder !important
        font-size: 1.5em
        text-transform: uppercase

        &:hover
            background: $lightviolet
            color: $beige
            transition: .3s
            cursor: pointer
