.app
    background: $beige
    @include  df-center
    height: 100vh
    width: 100%
    flex-direction: column
    padding: 20px
    gap: 20px

    .layoutMain
        height: 100%
        width: 100%

        .layout
            height: 100%
            min-width: 300px
            margin: 0 auto
            background: $darkbeige
            position: relative
            overflow: hidden

            // background: linear-gradient(180deg, $pink 0%, $lightpink 70%, $darkbeige 100%)
