@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap')

body
    background: beige

*
    margin: 0
    padding: 0
    font-family: 'Roboto Slab' !important
    font-size: 30px

@import variables
@import reset
@import mixins
@import widthChanger
@import layouts
@import header
