@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap')

$beige: #F0EBE3
$darkbeige: #d6d4d1
$violet: #3b2b4b
$lightviolet: #5e3d66
$pink: #94578a
$lightpink: #de7bb7
$white: #ffabeb

@import reset
@import mixins
@import widthChanger
@import layouts
@import header

body
    background: beige

*
    margin: 0
    padding: 0
    font-family: 'Roboto Slab' !important
    font-size: 30px
