.widthChanger
    width: 100%

    input
        width: 100%

    .buttons
        display: flex
        gap: 10px

        button
            background: $green
            border: none
            height: 50px
            width: 50px
            border-radius: 10px
            transition: .1s

            &:hover
                border-radius: 20px
